.wrapper_logo {
  width: 100%;
  overflow: hidden;
  height: 64px;
  max-height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;

  .link_logo {
    .logo {
      width: 50px;
      max-width: 50px;
    }
  }
}

.wrapper_header_right {
    width: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .wrapper_user {
        cursor: pointer;
        color: var(--primary-color);
        
        .avatar {
            width: 23px !important;
            max-width: 23px !important;
            margin-bottom: 3px;
            border-radius: 30px;
        }
    }
}

.btn_logout {
  margin: 0 0 2px 0;
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
  .wrapper_logo {

    .link_logo {
      .logo {
        width: 40px;
        max-width: 40px;
      }
    }
  }
}
