.posts_page {
    width: 100%;

    .wrapper_posts {

        .wrapper_button {
            overflow: hidden;
            margin-bottom: 15px;

            .btn_add_posts {
                float: right;
            }
        }

        .p_info {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            height: 45px;
        }
    }
}

.wrapper_thumbnail {
    img {
        width: 35px;
        max-width: 35px;
        height: 35px;
        max-height: 35px;
        border-radius: 3px;
    }
}

@media screen and (max-width: 1650px) {
    .posts_page {
        .wrapper_posts {
            .wrapper_button {
                .btn_add_posts {
                }
            }
        }

        .main_table {
            overflow-x: scroll;
        }

        .p_info {}
    }

    .wrapper_thumbnail {
        img {
            width: 23px;
            max-width: 23px;
            height: 23px;
            max-height: 23px;
            border-radius: 3px;
        }
    }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
  
}