.users_page {
    width: 100%;

    .wrapper_users {

        .wrapper_button {
            overflow: hidden;
            margin-bottom: 15px;

            .btn_add_users {
                float: right;
            }
        }
    }
}

.wrapper_info {
    display: flex;
    align-items: center;

    img {
        width: 23px;
        max-width: 23px;
        border-radius: 3px;
        margin-right: 5px;
    }

    .fullname {
        margin-bottom: 0;
        word-break: break-word;
        color: var(--primary-color);
    }
}

@media screen and (max-width: 1650px) {
    .users_page {
        .wrapper_users {
            .wrapper_button {
                .btn_add_users {
                }
            }
        }

        .main_table {
            overflow-x: scroll;
        }
    }

    .wrapper_info {
        img {
        }
    
        .fullname {
            word-break: inherit;
        }
    }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
  
}