.home_pages {
  .tab_title {
    padding: 12px 0;
  }
}

:global {
  .ant-tabs-tab {
    padding: 0 !important;
    display: block;
  }

  .thumbnail {
    height: 30px;
    max-height: 30px;
  }

  .ant-card-cover {
    max-height: 180px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
    }
  }

  .ant-card-meta-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 45px;
  }
}
