.register_page {
  .wrapper_register {
    background: url(../../../../assets/images/background-login-page.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .wrapper_form_register {
      width: 380px;
      max-width: 380px;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.488);
      padding: 15px;
    }
  }
}

.wrapper_form_register {
  width: 100%;

  .title_form {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8em;
    color: var(--primary-color);
    margin-bottom: 20px;
  }

  .check_submit {
    .input_auth {
      width: 100%;

      .mat_focus_indicator {
        width: 30px;
        height: 30px;
      }
    }

    .btn_submit {
      display: block;
      width: 100%;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
  }

  .forgot_password {
    text-align: center;
    margin: 0;

    .break {
      margin: 0 8px;
      color: var(--primary-color);
    }
  }
}

.title_form {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8em;
  color: var(--primary-color);
  margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
  .wrapper_form_register {
    width: 90% !important;
    max-width: 100% !important;
  }

  .title_form {
    font-size: 1.6em;
    color: var(--primary-color);
  }
}
