.login_page {
  width: 100%;

  .wrapper_login {
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper_left {
      width: 70%;
      background: url(../../../../assets/images/background-login-page.png) no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 100vh;
    }

    .wrapper_right {
      width: 30%;
      background-color: #fff;
      min-height: 100vh;
      padding: 4em;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      .wrapper_logo {
        .logo_form {
          width: 150px;
          display: block;
          margin: auto;
        }
      }

      .wrapper_form {
        width: 100%;

        .title_form {
          text-transform: uppercase;
          text-align: center;
          font-size: 1.8em;
          color: var(--primary-color);
          margin-bottom: 20px;
        }

        .check_submit {
          .input_auth {
            width: 100%;

            .mat_focus_indicator {
              width: 30px;
              height: 30px;
            }
          }

          .btn_submit {
            display: block;
            width: 100%;
            text-transform: uppercase;
            margin-bottom: 15px;
          }
        }

        .forgot_password {
          text-align: center;
          margin: 0;

          .break {
            margin: 0 8px;
            color: var(--primary-color);
          }
        }
      }

      .wrapper_copyright {
        .no_copyright {
          text-align: center;
          margin: 0;
        }
      }
    }
  }
}

.wrapper_alert {
  background-color: #ffeeec;
  border: 1px solid #cb2d32;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  margin-bottom: 25px;

  .box_icon {
    display: flex;
    padding-right: 5px;

    .icon {
      color: #cb2d32;
      width: 20px;
      height: 20px;
      font-size: 20px;
    }
  }

  .box_message {
    padding-left: 5px;

    .message {
      margin: 0;
    }
  }
}

@media screen and (max-width: 992px) {
  .login_page {
    .wrapper_login {
      .wrapper_left {
        width: 60%;
      }

      .wrapper_right {
        width: 40%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .login_page {
    .wrapper_login {
      background: url(../../../../assets/images/background-login-page.png) no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 100vh;

      .wrapper_left {
        display: none;
      }

      .wrapper_right {
        width: 90%;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.488);
        min-height: auto;
        padding: 2em;

        .wrapper_logo {
          margin-bottom: 15px;
        }

        .wrapper_form {
          margin-bottom: 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .login_page {
    .wrapper_login {
      .wrapper_right {
        padding: 1.5em;

        .wrapper_logo {
          margin-bottom: 10px;

          .logo_form {
            width: 80px;
          }
        }

        .wrapper_form {
          .title_form {
            font-size: 1.6em;
            color: var(--primary-color);
          }
        }
      }
    }
  }
}
