.profile_page {
  width: 100%;

  .wrapper_profile {
    .wrapper_profile_left {
      border: 1px solid #d9d9d9;
      border-radius: 2px;

      .box_avatar {
        width: 100%;
        overflow: hidden;
        margin-bottom: 15px;
        padding: 15px;
        border-bottom: 1px solid #d9d9d9;

        .avatar {
          width: 100px;
          max-width: 100px;
          border-radius: 99px;
          display: block;
          margin: auto;
        }
      }

      .box_profile_info {
        width: 100%;
        padding: 0 15px 15px 15px;

        .list_info {
          padding: 0;
          margin: 0;
          margin-bottom: 20px;

          .item_info {
            list-style: none;
            margin-bottom: 5px;
            word-break: break-word;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .wrapper_profile_right {
    }
  }
}

.text_br {
  word-break: break-word;
}

.btn_profile {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
  .profile_page {
    .wrapper_profile {
      .wrapper_profile_left {
        .box_avatar {
          .avatar {
            width: 80px;
            max-width: 80px;
            border-radius: 99px;
            display: block;
            margin: auto;
          }
        }

        .box_profile_info {
          .list_info {
            .item_info {
              &:last-child {
              }
            }
          }
        }
      }

      .wrapper_profile_right {
      }
    }
  }
}
